/* Подключение шрифтов с помощью сервиса Google Fonts */
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;500;600;700&display=swap');

/* Подключение шрифтов из локальной директории */
/*@font-face {
  font-family: "IBM Plex Sans";
  src: url(../fonts/IBMPlexSans-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../fonts/IBMPlexSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../fonts/IBMPlexSans-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../fonts/IBMPlexSans-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../fonts/IBMPlexSans-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}*/

* {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  margin: 0;
}

.main-container {
  max-width: 1124px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-image: url(../images/main_cinema_hall.jpg);
  background-repeat: no-repeat;
  position: relative;
  height: 728px;
  margin: 0 auto 0 auto;
}

.site-list {
  padding-left: 0;
  margin-top: 0;
}

.site-list__item {
  list-style-type: none;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.nav-item {
  display: inline;
}

.nav-links {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.header-title {
  color: white;
  text-align: center;
}

.h1 {
  font-weight: 100;
  font-size: 68px;
  line-height: 1.29;
}

.h2 {
  font-weight: 400;
  font-size: 41px;
  line-height: 1.29;
}

.section-title {
  color: #a3cc40;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.3;
  margin-left: 135px;
  margin-top: 0;
  text-align: left;
}

.wellcome-block {
  position: absolute;
  box-sizing: border-box;
  width: 426px;
  left: 563px;
  top: 564px;
  padding: 30px 47px 20px 47px;
  background: white;
  box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
  border-radius: 10px;
}

.wellcome-block__title {
  margin-top: 0;
  color: #333333;
  font-weight: 600;
  font-size: 33px;
  line-height: 1.3;
}

.wellcome-block__p1 {
  color: #333333;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.3;
}

.about-container {
  overflow: hidden;
  margin: 0 auto 29px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__item {
  width: 245px;
  margin: 0 27.5px 29px 27.5px;
}

.about__item-img {
  width: 245px;
  height: 169px;
}

.about__item-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
}

.about__item-article {
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.3;
}

.schedule {
  margin-top: 115px;
}

.movie-table {
  width: 849px;
  border-radius: 10px;
  border-collapse: collapse;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.movie-table__col1 {
  width: 75px;
}

.movie-table__col2 {
  width: 240px;
}

.movie-table__col3 {
  width: 240px;
}

.movie-table__col4 {
  width: 293px;
}

.movie-table__head {
  background: #a3cc40;
  height: 45px;
}

.movie-table__body-row-1 {
  background: #373737;
  height: 45px;
}

.movie-table__body-row-2 {
  background: #6c6c6c;
  height: 45px;
}

.movie-table__head-cell {
  color: white;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
}

.movie-table__link {
  text-decoration: none;
  color: #ffffff;
}

.movie-table__arrow {
  vertical-align: middle;
  padding-left: 7px;
}
.movie-table__arrow2 {
  vertical-align: middle;
  padding-right: 7px;
  transform: rotate(180deg);
}

.movie-table__body-cell {
  color: white;
  padding-top: 15px;
  padding-bottom: 12px;
  vertical-align: top;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.285;
}

.movie-table__first-cell {
  text-align: left;
  padding-left: 25px;
}

.promo {
  background-image: url(../images/cinema_staf.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 685px;
}

.feedback-form-block {
  background: url(../images/gradient.png), url(../images/cinema_hall.jpg),
    #ffffff;
  background-repeat: no-repeat, no-repeat;
  background-position: 27px, left;
  border-radius: 20px;
}
